<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.ssafybuddy.mapper.BoardMapper">
    <insert id="insert" parameterType="com.pjt.ssafybuddy.dto.BoardDTO">
        insert into board(category, content, title, writer, read_count)
        values (#{category}, #{content}, #{title}, #{writer}, 0)
    </insert>
    <select id="selectById" resultType="com.pjt.ssafybuddy.entity.board.Board">
        select  *
        from board
        where id = #{id}
    </select>
    <select id="findAllPost" resultType="com.pjt.ssafybuddy.entity.board.Board">
        select * from board
    </select>
</mapper>